.vector {
    padding-top: 85px;
    .wrapper{
        padding-bottom: 85px;
    }
    &__top {
        padding-bottom: 64px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h1 {
            font-size: 100px;
            font-weight: bold;
            max-width: 700px;
            line-height: 90%;
        }
        &__buttons{
            display: flex;
            justify-content: space-between;
            max-width: 140px;
                
            &__img {
                max-width: 60px;
                max-height: 60px;
            }
        }
    }

    &__content {
        display: flex;
        gap: 47px;
        padding-bottom: 85px;
    }
}