// header, navigation
// phone-number, menu-item-text, social-media-item-text
$h-text-fsize: 20px;
$h-text-fweight: 700;
$h-text-lheight: 27px;

// hot-news
// hot-news__title__text
$hot-news__tt-fsize:52px;
$hot-news__tt-fweight:700;
$hot-news__tt-lheight:65px;

// hot-news__title__text mobile
$mobile-hot-news__tt-fsize:22px;
$mobile-hot-news__tt-fweight:500;
$mobile-hot-news__tt-lheight:28px;

// hot-news slider__slides slide__content tag
$hot-news__slide__content__tag-fsize:12px;
$hot-news__slide__content__tag-fweight:400;
$hot-news__slide__content__tag-lheight:14px;

$mobile-hot-news__slide__content__tag-fweight:300;
$mobile-hot-news__slide__content__tag-lheight:16px;

// hot-news slider__slides slide__content title
$hot-news__slide__content__title-fsize:16px;
$hot-news__slide__content__title-fweight:400;
$hot-news__slide__content__title-lheight:22px;

$mobile-hot-news__slide__content__title-fsize:12px;
$mobile-hot-news__slide__content__title-lheight:16px;

// fresh-news,vector,premiere
// h1
$h1-fsize:100px;
$h1-fweight:700;
$h1-lheight:90px;

// fresh-news,vector,premiere mobile
$mobile-h1-fsize:40px;
$mobile-h1-fweight:700;
$mobile-h1-lheight:40px;

// button
// content-button
$button-fsize: 16px;
$button-fwidgth: 500;
$button-lheight: 16px;

// card
// tag
$tag-color: #9F0023;
$tag-fsize: 16px;
$tag-fwidgth: 400;
$tag-lheight: 22px;
// tag mobile
$mobile-tag-lheight: 16px;

// date
$date-color: #959595;
$date-fsize: 12px;
$date-fwidgth: 400;
$date-lheight: 14px;
// date mobile
$mobile-date-lheight: 16px;

// title
$title-color: #373334;
$title-fsize: 20px;
$title-fwidgth: 500;
$title-lheight: 22px;
// title mobile
$mobile-title-fsize: 16px;
$mobile-title-lheight: 20px;

// // sub-title
// $sub-title-color: #373334;
// $sub-title-fsize: 16px;
// $sub-title-fwidgth: 400;
// $sub-title-lheight: 16px;

// premiere
// premiere__tabs__item__title
$premiere__tit-fsize: 24px;
$premiere__tit-fwidgth: 500;
$premiere__tit-lheight: 27px;
// premiere__tabs__item__title mobile
$mobile-premiere__tit-fsize: 16px;
$mobile-premiere__tit-lheight: 22px;

// premiere__tabs__item__date
$premiere__date-fsize: 16px;
$premiere__date-fwidgth: 400;
$premiere__date-lheight: 22px;
// premiere__tabs__item__date mobile
$mobile-premiere__date-fsize: 12px;
$mobile-premiere__date-lheight: 16px;

// footer
// social-media__title
$footer__sm__title-fsize: 24px;
$footer__sm__title-fwidgth: 400;
$footer__sm__title-lheight: 28px;
// social-media__title mobile
$mobile-footer__sm__title-fsize: 16px;
$mobile-footer__sm__title-fwidgth: 500;
$mobile-footer__sm__title-lheight: 22px;

// copyright-privacy-policy
$footer__cpp-fsize: 14px;
$footer__cpp-fwidgth: 400;
$footer__cpp-lheight: 24px;