@import '../../config.scss';

.footer {
    padding: 50px 0;

    &__top {
        padding-bottom: 52px;
        border-bottom: 2px solid #373334;
    }

    &__social-media {
        &__list {
            display: flex;
            list-style: none;
            gap: 20px;
        }

        &__item {
            display: inline-block;
            margin-right: 20px;
        }

        &__title { 
            line-height: $footer__sm__title-lheight;
            font-size: $footer__sm__title-fsize;
            font-weight: $footer__sm__title-fwidgth;
            margin-bottom: 16px;
        }


    }

    &__bottom {
        padding-top: 47px;
        display: flex;
        justify-content: space-between;
    }

    &__copyright-privacy-policy {
        line-height: $footer__cpp-lheight;
        font-size: $footer__cpp-fsize;
        font-weight: $footer__cpp-fwidgth;
        color: #373334; 
    }

    &__copyright {
        &__text {}
    }

    &__privacy-policy {

        &__text {
            color: #373334;
        }
    }


    &_xpage {
        img {}
    }
}
@media only screen and (max-width: 320px) {
    .footer {
    
        &__top {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
        &__social-media {
            
            &__title { 
                line-height: $mobile-footer__sm__title-lheight;
                font-size: $mobile-footer__sm__title-fsize;
                font-weight: $mobile-footer__sm__title-fwidgth;
            }
        }
    
        &__bottom {
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }
    }
}