section.premiere
    div.wrapper 
        h1 Премьерные выпуски
        div.premiere__content   
            img.premiere__content__img(src="img/pages/main/premiere/video.jpg", alt="премьерное видео")
            div.premiere__tabs 
                div.premiere__tabs__item.active
                    div.premiere__tabs__item__date 02/01/2021
                    div.premiere__tabs__item__title «Территория закона» 26.01.2021
                    img.premiere__tabs__item__img(src="img/pages/main/premiere/link", alt="фото для перехода на видео")
                div.premiere__tabs__item 
                    div.premiere__tabs__item__date 02/01/2021
                    div.premiere__tabs__item__title «Сделано в Златоусте» №1 (Никон)
                div.premiere__tabs__item 
                    div.premiere__tabs__item__date 02/01/2021
                    div.premiere__tabs__item__title «Депутатский час» 22.01.2021
        button.content-button.premiere__content-button Все выпуски