section.premiere
    .wrapper 
        h1 Премьерные выпуски
        .premiere__content   
            img.premiere__content__img(src="img/pages/main/premiere/video.jpg", alt="премьерное видео")
            .premiere__tabs     
                a(href="#").premiere__tabs__item.active
                    .premiere__tabs__item__date 02/01/2021
                    .premiere__tabs__item__title «Территория закона» 26.01.2021
                a(href="#").premiere__tabs__item 
                    .premiere__tabs__item__date 02/01/2021
                    .premiere__tabs__item__title «Сделано в Златоусте» №1 (Никон)
                a(href="#").premiere__tabs__item 
                    .premiere__tabs__item__date 02/01/2021
                    .premiere__tabs__item__title «Депутатский час» 22.01.2021
        button.content-button.premiere__content-button Все выпуски