section.hot-news
    div.wrapper 
        div.hot-news__content
            div.hot-news__left
                img.hot-news__img(src="img/pages/main/hot-new.svg", alt="фотография статьи")
            div.hot-news__right
                div.tag.hot-news__tag
                    p.tag__text Общество 
                div.hot-news__title
                    h3.hot-news__title__text_size_52 Гонка сильнейших. На стадионе имени Светланы Ишмуратовой стартовал Чемпионат по биатлону
                button.content-button.hot-news__content-button_color_black Читать
        
        
        //- div.slider.hot-news__slider
        //-     img.slider__img(src="", alt="")
        //-     div.tag.slider__tag 
        //-         p.tag__text Нацпроект 
        //-     div.slider__title 
        //-         p.title__text Безопасные и качественные автомобильные дороги

