@import '../../config.scss';

.logo {
    cursor: pointer;

    &-img {
        width: 100%;
        height: 100%;
    }
}

.header {
    padding-top: 52px;

    .wrapper {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: #373334;
            margin-top: 5px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding-bottom: 60px;

        &-button {

            &_color_red {
                color: #9F0023;
                border: 2px solid #9F0023;

                &:hover {
                    background: #99002123;
                }
            }

        }
    }

    a {
        text-decoration: none;
        color: #373334;
    }

    &__logo {

        &-img {
            max-width: 213px;
            height: 48px;
        }
    }

    &__phone-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 44px;

        &-phone {

            &-number {
                cursor: pointer;
                font-size: $h-text-fsize;
                font-weight: $h-text-fweight;
                line-height: $h-text-lheight;
            }
        }


        &-search {
            cursor: pointer;
            background: none;
            border: 0px;

            &__image {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .header {
        position: relative;
        padding-top: 20px;
        &__content-button_color_red,
        &__phone-search {
            visibility: hidden;
            overflow: hidden;
            padding: 0;
            width: 0;
        }

        &__logo {

            &-img {
                width: 104px;
                height: 24px;
            }
        }

        &__content {
            padding-bottom: 20px;
            &::after {
                position: absolute;
                right: 20px;
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-image: url('img/header/megaphone.svg');
            }
        }
    }
}