header.header
    .wrapper 
        .header__content
            button.content-button.header__content-button_color_red Предложить новость
            a(href="#").logo.header__logo
                img.logo-img.header__logo-img(src='img/header/logo.svg' alt='Логотип сайта')
            .header__phone-search
                .header__phone-search-phone
                    a(href="tel:123123213").header__phone-search-phone-number 8 (3513) 65-17-11
                button.header__phone-search-search
                    img.header__phone-search-search-image(src='img/header/search.svg' alt='Иконка поиска')
        include navigation.pug 