nav.navigation
        ul.menu.navigation__menu
            li.menu-item
                p.menu-item-text Новости
            li.menu-item
                p.menu-item-text Телепроекты 
            li.menu-item
                p.menu-item-text Реклама
            li.menu-item
                p.menu-item-text Онлайн 
                img.menu-item-img(src='img/header/nav/arrow_to_down.svg' alt='стрелка вниз')
            li.menu-item
                p.menu-item-text Программа передач
            li.menu-item
                p.menu-item-text Ещё 
                img.menu-item-img(src='img/header/nav/arrow_to_down.svg' alt='стрелка вниз')    
        ul.social-media.navigation__social-media
            li.social-media-item
                p.social-media-item-text Подписывайтесь на нас:
            li.social-media-item
                img.social-media-img(src='img/social-media/youtube.svg')
            li.social-media-item
                img.social-media-img(src='img/social-media/facebook.svg')
            li.social-media-item
                img.social-media-img(src='img/social-media/vk.svg')
            li.social-media-item
                img.social-media-img(src='img/social-media/ok.svg')
            li.social-media-item
                img.social-media-img(src='img/social-media/instagram.svg')