nav.navigation
    .menu
        input.burger-checkbox(type='checkbox', id='burger-checkbox')
        label.burger(for='burger-checkbox')
        ul.menu-list.navigation__menu
            li.menu-item
                a(href="#").menu-item-text Новости
            li.menu-item
                a(href="#").menu-item-text Телепроекты  
            li.menu-item
                a(href="#").menu-item-text Реклама
            li.menu-item.openable
                a(href="#").menu-item-text Онлайн
            li.menu-item
                a(href="#").menu-item-text Программа передач
            li.menu-item.openable
                a(href="#").menu-item-text Ещё 
    ul.social-media.navigation__social-media
        li.social-media-item
            p.social-media-item-text Подписывайтесь на нас:
        li.social-media-item
            a(href="#")
                img.social-media-item__img(src='img/social-media/youtube.svg', alt="логотип Ютуба")
        li.social-media-item
            a(href="#")
                img.social-media-item__img(src='img/social-media/facebook.svg', alt="логотип Фейсбук")
        li.social-media-item
            a(href="#")
                img.social-media-item__img(src='img/social-media/vk.svg', alt="логотип ВКонтакте")
        li.social-media-item
            a(href="#")
                img.social-media-item__img(src='img/social-media/ok.svg', alt="логотип Одноклассников")
        li.social-media-item
            a(href="#")
                img.social-media-item__img(src='img/social-media/instagram.svg', alt="логотип Инстаграм")