footer.footer 
    .wrapper 
        .footer__top
            .footer__social-media
                .footer__social-media__title Подписывайтесь на нас:
            ul.social-media__list.footer__social-media__list
                li.social-media__item
                    a(href="#")
                        img.social-media__item__img(src='img/social-media/youtube.svg')
                li.social-media__item
                    a(href="#")
                        img.social-media__item__img(src='img/social-media/facebook.svg')
                li.social-media__item
                    a(href="#")
                        img.social-media__item__img(src='img/social-media/vk.svg')
                li.social-media__item
                    a(href="#")
                        img.social-media__item__img(src='img/social-media/ok.svg')
                li.social-media__item
                    a(href="#")
                        img.social-media__item__img(src='img/social-media/instagram.svg')

        .footer__bottom
            .footer__copyright-privacy-policy
                p.footer__copyright__text © 2021 «Златоустовское телевидение»
                a(href="#").footer__privacy-policy__text Политика конфиденциальности
            .footer_xpage
                a(href="#") 
                    img.footer_xpage_img(src="img/xpage.svg", alt="xpage logo")
