@import '../../config.scss';

.tag {
    color: $tag-color;
    font-size: $tag-fsize;
    line-height: $tag-lheight;
    font-weight: $tag-fwidgth;
}

.card {
    max-width: 440px;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #373334;

    &::after {
        content: "";
        width: 20px;
        height: 28px;
        background-image: url('img/pages/main/fresh-news/cards/link.svg');
        background-size: cover;
        margin-top: auto;
    }

    &:hover {
        color: #9F0023;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-img {
            margin-bottom: 20px;
        }

        &-top {
            display: flex;
            align-items: center;
            gap: 39px;
            color: #959595;
            margin-bottom: 15px;

            &__date {
                font-size: $date-fsize;
                color: $date-color;
                font-weight: $date-fwidgth;
                line-height: $date-lheight;
            }
        }

        &-bottom {
            &__title {
                font-size: $title-fsize;
                font-weight: $title-fwidgth;
                line-height: $title-lheight;
            }

            &__sub-title {
                padding-top: 70px;
                font-size: 16px;
                color: #373334;
            }
        }

    }

    &__content {
        margin-bottom: 40px;

        &_size_big {
            margin-bottom: 0px;
            height: 100%;
            padding-left: 50px;
        }
    }

    &_size_big {
        max-width: 100%;
        display: flex;
        min-height: 0px;
        text-decoration: none;
        flex-direction: row;
        background: #fff;
        padding: 30px; 

        &__content {
            height: 100%;
            padding-left: 50px;
        }
        .card__item-img {
            margin-bottom: 0;  
        }
        &::after {
            width: 35px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .tag {
        font-size: $mobile-tag-lheight;
    }

    .card {
        max-width: 272px;

        &::after {
            content: none;
        }

        &__item {

            &-top {
                &__date {
                    line-height: $mobile-date-lheight;
                }
            }

            &-bottom {
                &__title {
                    font-size: $mobile-title-fsize;
                    line-height: $mobile-title-lheight;
                }
            }
        }

        &__content {
            margin-bottom: 0px;
        }
    }
}