section.vector 
    div.wrapper 
        div.vector__top 
            h1 Вектор развития
            div.vector__top__buttons
                img.vector__top__buttons__img(src="img/pages/main/vector/back.svg", alt="кнопка назад")
                img.vector__top__buttons__img(src="img/pages/main/vector/forward.svg", alt="кнопка вперёд")
        div.vector__content 
            a.card.all-news__card(href="#")  
                img.card__item-img(src="img/pages/main/vector/cards/img1.svg" alt="фотография новости")
                div.card__content
                    div.card__item-top 
                        div.tag.card__item-top__tag 19/01/2021
                    div.card_item-bottom
                        div.card__item-bottom__title Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
                img.card__item-lick(src="img/fresh-news/cards/link.svg" alt="фотография для переходана на новость")
            a.card.all-news__card(href="#")  
                img.card__item-img(src="img/pages/main/vector/cards/img2.svg" alt="фотография новости")
                div.card__content
                    div.card__item-top 
                        div.tag.card__item-top__tag 15/01/2021
                    div.card_item-bottom
                        div.card__item-bottom__title Условия для воспитания и образования в Златоусте – одно из приоритетных направлений
                img.card__item-lick(src="img/fresh-news/cards/link.svg" alt="фотография для переходана на новость")
            a.card.all-news__card(href="#")  
                img.card__item-img(src="img/pages/main/vector/cards/img3.svg" alt="фотография новости")
                div.card__content
                    div.card__item-top 
                        div.tag.card__item-top__tag 24/12/2020
                    div.card_item-bottom
                        div.card__item-bottom__title Реализовали давно задуманные планы. На златоустовском «Заводе «Стройтехника» открылся ещё один производственный корпус
                img.card__item-lick(src="img/fresh-news/cards/link.svg" alt="фотография для переходана на новость")
            a.card.all-news__card(href="#")  
                img.card__item-img(src="img/pages/main/vector/cards/img1.svg" alt="фотография новости")
                div.card__content
                    div.card__item-top 
                        div.tag.card__item-top__tag 19/01/2021
                    div.card_item-bottom
                        div.card__item-bottom__title Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
                img.card__item-lick(src="img/fresh-news/cards/link.svg" alt="фотография для переходана на новость")
            
        div.vector__content-button 
            button.content-button Больше новостей